* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: #FAFAFA;
}
.main-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    
}
.main-nav a {
    text-decoration: none;
    color: black;
    
}
.search-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 10px;
}
.search-btn {
    text-decoration: none;
    border: none;
    padding: 8px;
    background-color: #FAFAFA;
    cursor: pointer;
}
.main-nav a:hover {
    color:lightgray;
}
.login-btn{
    text-decoration: none;
    border: none;
    padding: 8px;
    background-color: #FAFAFA;
}
.login-btn:hover {
    color:lightgray;
    cursor: pointer;
}

